<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JEFS">


    <test name="C:\Users\balard\OneDrive - Capgemini\Desktop\New folder\SeleniumPractice\Judicary_Regression\src\test\java\Tests">
        <classes>
            <class name="Tests.TestCases_Run"></class>

            
        </classes>
    </test>
</suite>